/* start :  Navigation section */
.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_image {
  display: flex;
  align-items: center;
}

.navigation_image img {
  width: 100px;
  border-radius: 7px;
  cursor: pointer;
}

.navigation_title {
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.5s ease-in-out;
}

.navigation_title:hover {
  color: dodgerblue;
  transform: rotate(360deg);
}

.list_items {
  display: flex;
  align-items: center;
}
.list_items li {
  list-style: none;
  margin-right: 20px;
  margin-top: 18px;
  font-size: 23px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.list_items li:hover {
  margin-top: 20px;
  color: dodgerblue;
}

/* end : Navigation section */

/* start : categories section */

.categories_blog {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}

.categories {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

/* end : categories section */

/* start : card section */

.cards {
  margin-bottom: 30px;
  cursor: pointer;
}

.thumbnail_img img {
  width: 100%;
}

.authour_img {
  width: 50px;
  border-radius: 30px;
  cursor: pointer;
}

.author_details {
  margin-left: 20px;
}

.card_details {
  text-overflow: ellipsis;
}

.views {
  margin-left: 10px;
}

/* end : card section */

/* start : footer */

/* end : footer */
